body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.search-form{
	display: flex;
	justify-content: center;
}
.search-btn{
	background-color:#217e32; 
	color:white; 
	margin-right: 20px;
}


.errorlist{
        color: red;
    }

.auth-heading{
	color: #217e32;
}
.auth-btn{
	background-color: #217e32;
	color:#fff;
	border-radius: 20px;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}
.thumbnail-more{

	width: 100%;
	height: 380px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);

}

@media screen and (max-width: 800px) {
	.thumbnail-more{
		height: 200px;

  }

}
.more{
	margin: 0px;
	padding: 0px;
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #217e32!important;
}

#cart-icon{
	width:35px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#217e32;
	background-color: #fff;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 5;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.category-products{
	padding: 10px;
	margin-bottom: 15px;
}

.header__search > label {
	background-color: var(--color-dark-medium);
	padding: 1.3rem 1rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	border-radius: 4px;
  }
  
  .header__search svg {
	fill: var(--color-gray);
	width: 2rem;
	height: 2rem;
	margin-left: 1rem;
  }
  
  .header__search input {
	width: 30rem;
	background: transparent;
	border: none;
	outline: none;
	color: var(--color-light);
  }
  
  @media screen and (max-width: 800px) {
	.header__search input {
	  width: 20rem;
	}
  
	.header > .container {
	  gap: 3rem;
	}
  }
  
  @media screen and (max-width: 500px) {
	.header__search {
	  display: none;
	}
  }

  .page-link{
	color: #217e32;
	
  }

  .view-more{
	margin: 10px;
	/* padding: 10px; */
	
  }

  .product-details{
	text-align: justify;
	padding: 20px;
	margin-bottom: 10px;
  }
  .product-details h3{
	color: #217e32;
	font-weight: bold;
	padding: 20px;
	margin: 20px;
}

.bordering{
	border: 1px solid rgb(227, 220, 220);
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 20px;
}

.bordering h1{

	color:#217e32 ;

}

.profile-header{
	color: #217e32;
	font-weight: bold;
}
.profile-page{
	padding: 30px;
}