{% extends 'main.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container register"><br><br>
    <div class="row sign-up">
        <div class="col-md-3"></div>
        <div class="col-md-6 bordering">
            <div class="section form-body">
                <h1 style='text-align:center;'><b>Login</b></h1>
                <div class="form-section">
					
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}

						
                        <div class="form-group">
                            <input type="submit" class="btn btn-success btn-block" value="Login">
                        </div>
                        <input type="hidden" name="next" value="{{next}}">
                    </form>
                </div>
            </div>
            <div class="section">
                <p class="text-muted">Don't have an account? <a href="{% url 'register' %}"><i>Register Here</i></a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}