{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'store' %}">Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'store' %}">Store <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'category' %}">Categories <span class="sr-only"></span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="{% url 'cart' %}">Cart <span class="sr-only"></span></a>
        </li>
   
      </ul>
      <div class="form-inline my-2 my-lg-0">
       
            <div class="nav-item dropdown">
                <a style="color:white" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if request.user.customer %}
                <a class="dropdown-item" href="{% url 'profile' user.id %}">Profile</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="dropdown-item" href="{% url 'register' %}">Register</a>
                <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                {% endif %}
                
                </div>
                
            </div>

            {% if page_name == 'store' or page_name == 'categories' or page_name == 'cart' or page_name == 'viewMore' or page_name == 'checkout' or page_name == 'search' %}

           <a href="{% url 'cart' %}">
              <img  id="cart-icon" src="{% static 'images/cart.png' %}">
          </a>
          <p id="cart-total">{{cartItems}}</p>

          {%  endif %}

      </div>
    </div>
  </nav>